.App {
  text-align: center;
}

header {
  background-color: cornflowerblue;
  padding: 20px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: royalblue;
  padding: 20px;
  text-align: center;
}
